Source: ignition-msgs
Standards-Version: 3.9.5
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: optional
Build-Depends: cmake,
               pkg-config,
               debhelper (>= 7.0.50~),
               libprotoc-dev,
               libprotobuf-dev (>= 2.3.0),
               libignition-math3-dev,
               protobuf-compiler,
Vcs-Browser: https://bitbucket.org/ignitionrobotics/ign_msgs-release
Vcs-Hg: https://bitbucket.org/ignitionrobotics/ign_msgs-release
Homepage: http://ignitionrobotics.org/

Package: libignition-msgs0
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Protobuf messages for ignitionics applications - Shared library
 This library provides a set of google protobuf messages that are typically used
 in ignition applications. 

Package: libignition-msgs-dev
Architecture: any
Section: libdevel
Depends: libprotobuf-dev (>= 2.3.0),
         libignition-math3-dev,
         libignition-msgs0 (= ${binary:Version})
Multi-Arch: same
Description: Protobuf messages for ignitionics applications - Development files
 This library provides a set of google protobuf messages that are typically used
 in ignition applications. 

Package: libignition-msgs0-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
     libignition-msgs0 (= ${binary:Version}),
     ${misc:Depends}
Multi-Arch: same
Description: Protobuf messages for ignitionics applications - Debugging symbols
 This library provides a set of google protobuf messages that are typically used
 in ignition applications. 
